@import "~global-scss/index.scss";

:local(.component) {
  .button {
    background-color: $color-accent;
    color: $color-true-white;
    font-weight: 700;
    font-size: 1.1em;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    border: none;
    transition: opacity 100ms;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    &.is-width-full {
      width: 100%;
    }
    &.is-light {
      background-color: $color-primary-light;
      transition: background-color 100ms;

      &:hover {
        cursor: pointer;
        opacity: 1;
        background-color: $color-primary;
      }
    }
  }
}