@import "~global-scss/index.scss";

// :local(.component) {

  .input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-top: $vertical-gutter-small;
    margin-bottom: $vertical-gutter-small;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 4px;
    padding-left: 4px;
    font-size: 1.2em;
    color: $color-text;
    font-weight: 600;
    border-radius: 2px;
    border: $color-grey-light 1px solid;

    &::placeholder {
      color: $color-grey-light;
    }
  }
// }