// $ease-in:
// $ease-out: 

// Spacing
$vertical-gutter-big: 5em;
$vertical-gutter-small: 1em;

// Colors
$color-accent: #E8A50C;
$color-primary: #50e3c2;
$color-primary-light: rgba(80, 227, 194, 0.4);
$color-text: rgba(0,0,0,0.5);
$color-true-white: #ffffff;
$color-grey-light: rgba(0,0,0,0.2);