@import "../../../global-scss/index.scss";

.Card {
  padding: 10px;
  border-radius: 5px;
  background-color: white;

  .title {
    color: rgba(0,0,0,0.5);
    font-weight: 800;
    font-size: 1.5em;
    margin-bottom: 1.5em;
  }
}