@import "~global-scss/index.scss";

:local(.component) {
  &:nth-child(even) {
    background-color: $color-primary-light;
  }
  &:nth-child(odd) {
    background-color: white;
  }
  &.is-pending {
    background-color: $color-accent;
    color: $color-true-white;
  }

  .column {
    text-align: left;
    padding: 10px 20px;
  }
}